{% extends 'base.jinja2' %}
{% import 'macros.jinja2' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} {{ super() }} Welcome {% endblock %}

{% block content %}
    {{ super() }}
    {% if username %}
        <h1>Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}

    {% if user_ip %}
        <h3>Hello to Flask World from {{user_ip}}</h3>
    {% else %}
        <a href="{{ url_for('index') }}">Inicio</a>
    {% endif %}

    <div class="container">
        {{ wtf.quick_form(login_form) }}
    </div>

    <ul>
        {% for toDO in toDOs %}
            {{ macros.render_toDO(toDO) }}
        {% endfor %}
    </ul>
{% endblock %}