{% extends 'base.jinja2' %}

{% block title %} {{ super() }} Welcome {% endblock %}

{% block content %}
    {% if user_ip %}
    <h1>Hello to Flask World from {{user_ip}}</h1>
    {% else %}
    <a href="{{ url_for('index') }}">Inicio</a>
    {% endif %}
{% endblock %}