<nav>
    <ul>
        <img src="{{ url_for('static', filename='images/flask.png')}}" alt="Flask Logo">
        <li><a href="{{ url_for('index') }}">Ir a inicio</a></li>
        <li><a href="https://jaidenmeiden.com" target="_blank">Ir a Jaiden Meiden</a></li>
    </ul>
</nav>